.cart-list .MuiListItem-secondaryAction {
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.cart-list .MuiListItemText-root {
  flex: 1 1 auto;
}
.main-list-item:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
.cart-list .MuiListItemText-primary {
  overflow: hidden;
  height: 25px;
  width: 210px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cart-list .MuiListItemAvatar-root {
  padding-right: 15px;
}
.cart-list .MuiListItemText-secondary {
  overflow: hidden;
  height: 60px;
  width: 210px;
}

@media (max-width: 640px) {
  .cart-list .MuiListItemText-primary,
  .cart-list .MuiListItemText-secondary {
    width: 100%;
    /* max-width: 320px; */
  }
}
